[Desktop Entry]
Type=Application
Name=Aurora Browser
Comment=Custom Aurora Browser profile
Exec=/home/ben/Downloads/Aurora-Browser/launch-aurora.sh %U
Icon=/home/ben/Downloads/Aurora-Browser/icon.png
Terminal=false
Categories=Network;WebBrowser;
StartupNotify=true
StartupWMClass=Aurora-Browser
MimeType=text/html;text/xml;application/xhtml+xml;
